@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300&display=swap');

header{
	max-width: 1200px;
	margin: 0 auto;
	text-align:center;
	padding:10px 0px 10px 0px;
}

body{
font-family: 'Source Sans Pro', sans-serif;
}

/* End Navigation Bar */

nav{
	font-weight:bold;
	background-color:gray;
	text-align:center;
	font-size:1.5em;
	padding: 11px 0px 1px 0px;
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline;
}

nav a{
	text-decoration: none;
	padding-right: 15px;
}

nav a:link{
	color:white;
}

nav a:visited{
	color:white;
}

nav a:hover{
	color:black;
	text-decoration: none;
}

nav a:active{
	color:yellow;
	text-decoration: none;
}

/* End Navigation Bar */


.logo{
	margin: 0 auto;
	display: block;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 2.2em;
	max-width: 1000px;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	color: #bd2626;
	background-color: white; 
	font-size:2.0em;
	max-width: 1000px;
}

p{
	font-size: 1.4em;
	color: GrayText;
	max-width: 1000px;
}

main{
	max-width: 1200px;
	margin: 0 auto;
	padding:20px 0px 20px 0px;
}

i.fa{
	color: white;
	font-size:2.5em;
}

footer{
	background-color:gray;
	color: white;
	margin: 0 auto;
	text-align:center;
	padding:20px 0px 20px 0px;
}

footer a{
	text-decoration:none;
}

footer a:link{
	color:black;
}

footer a:visited{
	color:black;
}

footer a:hover{
	color:white;
	text-decoration: none;
}

footer a:active{
	color:yellow;
	text-decoration: none;
}

.mobile{
	display:none;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1.2em;
	}
	p{
		font-size: 1em;
	}
	.form {
		max-width: 100%
	}
	
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1.2em;
	}
	p{
		font-size: 1em;
	}
	.desktop{
		display:none;
	}
	.mobile{
		display:block;
	}
	.form {
		max-width: 100%;
	}
}